[submodule "anki/vector-cloud"]
	path = anki/vector-cloud
	url = https://github.com/DDLBots/vector-cloud-fork
[submodule "anki/wired/vector-gobot"]
	path = anki/wired/vector-gobot
	url = https://github.com/kercre123/vector-gobot
[submodule "anki/anki/victor"]
	path = anki/anki/victor
	url = https://github.com/gamingtimevr/victor
	branch = RainbOS
